/* game board table */

body{
  background-color: rgb(41, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#layout{
  width: 650px;
  height: 650px;
  background-color: rgb(205, 229, 248);
  border-radius: 30px;
}

#header{
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 15px 0px;
}

#title{
  font-size: 2.2em;
  text-transform: uppercase;
  text-shadow: 2px 2px lightslategray;
  font-family: monaco;
}

img{
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#button{
  display: flex;
  justify-content: center;
  margin-bottom:15px;
}

button{
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: monaco;
  background-color: rgb(207, 106, 106);
}

#player{
  text-align: center;
  margin-bottom: 15px;
  text-transform:capitalize;
  font-family: monaco;
  font-size: 0.8em;
}

#game{
  display: flex;
  justify-content: center;
}

#board{
  border-collapse: collapse;
}

#board td {
  border: solid 8px rgb(47, 87, 161);
  width: 55px;
  height: 55px;
}

/* pieces are div within game table cells: draw as colored circles */

.piece1 {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: solid 1px black;
  background-color: rgba(247, 243, 30, 0.973);
}

.piece2 {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: solid 1px black;
  background-color: rgba(255, 0, 0, 0.911);
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px black;
}

#column-top td:hover {
  background-color: lightcoral;
}
